.item{
    background-color: #282c34;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
    padding:10px 10px 10px 20px;
}
.importClassName{
    color: blueviolet;
    font-size: 18px;
}
.box{
    border: 1px solid #FFF;
    width: max-content;
    margin: 10px;
    padding: 10px;
}
