.item{
    padding:10px 10px 10px 20px;
}
.importClassName{
    color: blueviolet;
    font-size: 18px;
}
.box{
    border: 1px solid #000000;
    width: max-content;
    margin: 10px;
    padding: 10px;
}
