.container {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: hsl(240deg, 10%, 20%);
  color: white;
}

.publishBlog {
  display: grid;
}

.publishBlog textarea {
  border: none;
}

.publishBlog button {
  justify-self: end;
}

.formUser{
  display: flex;
  flex-direction: column;
}
.formError{
  color: red;
}
.yellowFont {
  color: yellow;
}

.redFont {
  color: red;
}
.pink {
  background-color: pink;
}
.containerProduct{
  display: grid;
  place-content: center;
  background-color: hsl(240deg, 10%, 20%);
  color: white;
}


