.container {
  max-width: 600px;
  padding-top: 24px;
  display: grid;
  row-gap: 24px;
  margin: 0 auto 400px;
}

.publishBlog {
  display: grid;
}

.publishBlog textarea {
  border: none;
}

.publishBlog button {
  justify-self: end;
}

.formUser{
  display: flex;
  flex-direction: column;
}
.formError{
  color: red;
}
.yellowFont {
  color: yellow;
}

.redFont {
  color: red;
}


